@import 'https://fonts.googleapis.com/css?family=Montserrat:200';

body {
  background-color: #f9e63c;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}

a {
  transition: color 200ms;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
}

nav ul li {
  text-align: right;
  margin-bottom: 31px;
}

nav ul li a {
  color: #444C4E;
  text-decoration: none;
  font-size: 36px;
}

nav ul li a:hover {
  color: rgba(68,76,78,0.6);
}

nav ul li img {
  width: 44px;
  height: 44px;
  margin-left: 24px;
  vertical-align: -7px;
}

nav ul li a:hover img {
  opacity: 0.6;
}

/* Tooltip */

li a {
  position: relative;
  display: inline-block;
}

li a span {
  visibility: hidden;
  background-color: #444C4E;
  color: #eee;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 16px;
  text-align: center;
  border-radius: 6px 12px 12px 6px;
  padding: 5px 9px;
/* posición del tooltip*/
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 110%;
}

li a:hover span {
  visibility: visible;
}

li a span::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: -18px;
  margin-top: -11px;
  border-width: 11px;
  border-style: solid;
  border-color: transparent transparent transparent #444C4E;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .contact {
  visibility: hidden;
  background-color: #444C4E;
  color: #eee;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 16px;
  text-align: center;
  border-radius: 12px 6px 6px 12px;
  padding: 5px 9px;
/* posición del tooltip*/
  position: absolute;
  z-index: 1;
  top: 13px;
  left: 110%;
}

.tooltip:hover .contact {
  visibility: visible;
}

.tooltip .contact::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 84px;
  margin-top: -11px;
  border-width: 11px;
  border-style: solid;
  border-color: transparent #444C4E transparent transparent;
}

footer {
  margin-bottom: 50px;
}

footer .logo {
  display: flex;
}

footer .logo img {
  width: 80px;
  height: 80px;
  margin-right: 25px;
  transition: 400ms;
}

footer .logo img:hover {
  transform: scale(0.9);
}

footer .nombre {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

footer .nombre h1 {
  font-size: 44px;
  font-weight: 200;
  margin: 0;
  flex: 100%;
  cursor: default;
}

footer .nombre h1 a {
  text-decoration: none;
  color: #444C4E;
}

footer h1 a:hover {
  color: rgba(68,76,78,0.6);
}

/* Teléfono */

@media screen and (max-width: 550px) {
  .container {
    width: 85%;
  }

  nav ul {
    margin-top: 25px;
  }

  nav ul li {
    margin-bottom: 18px;
  }

  nav ul li:last-child {
    margin-bottom: 8px;
  }

  nav ul li a {
    font-size: 24px;
  }

  nav ul li img {
    width: 36px;
    height: 36px;
    margin-left: 11px;
  }

  li a:hover span {
    visibility: hidden;
  }

  .tooltip:hover .contact {
    visibility: hidden;
  }

  footer {
    margin-bottom: 25px;
  }

  footer .logo img {
    width: 57px;
    height: 57px;
    margin-right: 13px;
  }

  footer .logo img:hover {
    transform: none;
  }

  footer .nombre h1 {
    font-size: 30px;
  }

}
