/* Tipografías */

@import url('https://fonts.googleapis.com/css?family=Montserrat:200|Source+Code+Pro:400|Muli:300,600');

/* General */

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Muli", sans-serif;
  font-size: 1.13rem; /* 18.08px */
  line-height: 1.75;
  font-weight: 300;
  color: #687577;
  background-color: rgba(247, 245, 233, 0.5);
}

.container {
  max-width: 720px;
  min-width: 46%;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 30px;
}

.logo, nav, h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

/* Links & Selection */

a {
  color: #d86976;
  text-decoration: none;
  transition: color 200ms;
}

a:hover, .logo a:hover, h2.title a:hover, .plus h4 a:hover, .yo .logo a:hover {
  color: #b3929c;
}

::-moz-selection { /* Firefox */
  background: #d86976;
  color: #fff;
}

::selection {
  background: #d86976;
  color: #fff;
}

/* Header */

header {
  margin: 20px 0 80px 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  border-left: 5px solid #d86976;
  height: 55px;
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding-left: 13px;
}

.logo a {
  font-size: 2.75rem; /* 44px */
  color: #d86976;
  font-weight: 200;
}

nav {
  padding-top: 5px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-size: 1.3375rem; /* 21.4px */
  color: #50555a;
  padding: 5px 8px;
  border: 1px solid transparent;
  border-radius: 4px;
}

nav ul li a:hover {
  color: #d86976;
  border: 1px solid #d86976;
}

.on {
  color: #d86976;
  border: 1px solid #d86976;
}

/* Inicio */

.front-page {
  padding-bottom: 18px;
}

h2.title {
  margin-bottom: -5px;
}

h2.title a {
  font-size: 1.8rem; /* 28.8px */
  line-height: 1.5;
  color: #50555A;
}

.plus {
  margin-top: 40px;
}

.plus h4 {
    text-align: right;
}

.plus h4 a {
  font-size: 1.375rem; /* 22px */
  color: #50555A;
}

.articles {
  margin-top: -18px;
}

/* Artículos */

.index ul {
  line-height: 1.9;
  margin-bottom: 35px;
}

.index ul:last-child {
    margin-bottom: 18px;
}

/* Article */

code, pre {
  font-family: "Source Code Pro", monospace;
  font-size: 1rem; /* 16px */
  line-height: 1.65;
  font-weight: 400;
  color: #817e8c;
  background-color: #f5f2ed;
  border: 1px solid rgba(204,204,204,0.5);
  display: block;
  padding: 8px 14px;
  margin: 20px 10px 30px 10px;
  border-radius: 4px;
  word-break: break-all;
}

h1 {
  font-size: 1.8rem; /* 28.8px */
  line-height: 1.5;
  color: #50555A;
}

h2 {
  font-size: 1.5rem; /* 24px */
  line-height: 1.6;
  padding-top: 20px;
  margin-bottom: -5px;
  color: #585d63;
}

h3 {
  font-size: 1.124rem; /* 17.984px */
  margin: 0;
  padding-top: 12px;
  margin-bottom: -6px;
  color: #585d63;
}

strong {
  font-weight: 600;
}

abbr[title] {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

.movie {
  clear: both;
  margin: 32px 0;
  overflow: hidden;
}

.movie h3 {
  margin: 0;
  padding: 0;
}

.movie img {
  float: left;
  margin-right: 30px;
}

.center {
  text-align: center;
  clear: both;
  margin: 20px 0;
}

time {
  font-size: 1rem; /* 16px */
  font-weight: 300;
  color: #817e8c;
  display: block;
  text-align: right;
}

/* 404 */

.perdidos {
  text-align: center;
  margin-top: 90px;
}

.error {
  width: 162px;
  height: 162px;
  margin-bottom: 18px;
}

/* Newsletter */

.newsletter {
  background-color: #343040;
}

.newsletter a {
  color: #b14569;
}

.newsletter a:hover {
  color: #a78c96;
}

.newsletter h1 {
  color: #e2e2e2;
  font-size: 2.1rem; /* 33.6px */
}

.animu-news {
  width: 150px;
  height: 150px;
  margin-bottom: 18px;
}

.news p {
  width: 80%;
  margin: auto;
  color: #bdb6ba;
}

.news form {
  margin-top: 43px;
}

.news form h3 {
  color: #bdb6ba;
  font-family: "Muli", sans-serif;
}

.news form input {
  margin-top: 18px;
}

.news form input[type="text"] {
  border-radius: 30px 0 0 30px;
  border: 1px solid #fff;
  padding: 10px 18px;
  text-align: center;
  margin-right: -6px;
}

.news form input[type="text"]:hover {
  border: 1px solid #ab4366;
}

.news form input[type="text"]:focus {
  border: 1px solid #ab4366;
  box-shadow: 0 0 3px #ab4366;
  outline: none;
}

.news form input[type="submit"] {
  color: #fff;
  background-color: #b14569;
  border: none;
  border-radius: 0 30px 30px 0;
  padding: 9px 18px 13px 18px;
  cursor: pointer;
  font-family: "Muli", sans-serif;
  font-weight: 600;
  outline: none;
}

.news form input[type="submit"]:hover {
  box-shadow: 0 0 5px #c13665;
  background-color: #c13665;
}

.foot-news {
  margin-top: 70px;
  text-align: center;
  font-size: 16px;
}

/* Contacto */

.yo {
  background-color: #3d4248;
  color: #727f82;
}

.yo .container {
  max-width: 420px;
  min-width: 40%;
}

.yo .logo a {
  font-size: 2.75rem; /* 44px */
  font-weight: 200;
  color: #a7a7a0;
}

.yo h1 {
  color: #949798;
}

/* Mobile */

@media screen and (max-width: 768px) {
.container {
  width: 92%;
}
}

@media screen and (max-width: 550px), (max-height: 400px) {
.container {
  width: 89%;
}

body {
  font-size: 1.03125rem; /* 16.5px */
  line-height: 1.65; /* 27.225px */
}

.articles {
  margin-top: -20px;
}

header {
  display: block;
  margin-bottom: 65px;
}
  
.logo {
  height: 45px;
  margin-bottom: 30px;
}

.logo a, .yo .logo a {
  font-size: 2.4rem; /* 38.4px */
}

nav {
  padding-top: 0;
  margin-top: -15px;
}

nav ul li a, .plus h4 a {
  font-size: 1.25rem; /* 20px */
}

h1, h2.title a {
  font-size: 1.5rem; /* 24px */
}

h2 {
  font-size: 1.25rem; /* 20px */
}

h3 {
  font-size: 1.1rem; /* 17.6px */
}

code {
  font-size: 0.9375rem; /* 15px */
  line-height: 1.6; /* 24px */
}

.movie img {
  margin-right: 20px;
}

img {
  max-width: 95%;
}

iframe {
  max-width: 95%;
  height: auto;
}

time {
  font-size: 0.9rem; /* 14.4px */
}

.perdidos {
  margin-top: 40px;
}

.animu-news, .error {
  width: 115px;
  height: 115px;
  margin-bottom: 12px;
}

.newsletter h1 {
  font-size: 1.7rem;
}

.news p {
  width: 100%;
}

.news form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news form input {
  width: 72%;
}

.news form input[type="text"] {
  margin-right: 0;
  border-radius: 10px 10px 0 0;
  padding: 11px;
}

.news form input[type="submit"] {
  margin-top: 0;
  border-radius: 0 0 10px 10px;
  padding: 12px;
}
}
